<div class="fromarea">

      <form class="formarea" method="post" action="admin" ng-submit="addnews()">
      <div class="container">

        <label style="font-family: sans-serif"><b>NewsID</b></label>
        <input type="number" name="newsid" ng-model="newsid" required>

        &nbsp&nbsp<label style="font-family: sans-serif"><b>Date</b></label>
        <input type="datetime" name="date" ng-model="date" required><br><br><br>

        <label style="font-family: sans-serif"><b>Category</b></label>
        <select name="category" ng-model="category" class="mybutton2">
          <option value="politics"  >Politics</option>
          <option value="technology">Technology</option>
          <option value="international">International</option>
          <option value="business">Business</option>
          <option value="movies">Movies</option>
          <option value="sports">Sports</option>
        </select><br><br>

        <br><label style="font-family: sans-serif"><b>Head Line</b></label><br><br>
        <input type="text" name="headline" ng-model="headline" required><br>

        <br><label style="font-family: sans-serif"><b>Article</b></label><br><br>
        <input type="text" name="content" ng-model="content" required><br>

        <br><label style="font-family: sans-serif"><b>Image</b></label>
        <input type="file" class="mybutton2" name="filetoupload" ng-model="image" required><br><br>

        <div class="form-actions">
            <button type="submit" class="loginbtn">ADD ARTICLE</button>
        </div>
      </div>
      </form>

</div>
