<div class="fromarea">

<a ng-show="{{isLoggedin}}" class="mybutton3" href="#/logout">LOGOUT</a>
      <form class="formarea" method="post" ng-submit="login()">
      <div class="container">

        <label style="font-family: sans-serif"><b>Username</b></label><br><br>
        <input type="text" name="username" ng-model="username" required><br><br>

        <br><label style="font-family: sans-serif"><b>Password</b></label><br><br>
        <input type="password" name="password" ng-model="password" required><br><br>

        <div class="form-actions">
            <button type="submit" class="loginbtn">LOG IN</button>
        </div>
      </div>
      </form>

</div>
