<div class="fromarea">

    <form class="display-area" method="post" ng-submit="register()">
    <div class="container" style="font-family: sans-serif">

      <label style="font-family: sans-serif"><b>Username</b></label><br><br>
      <input type="text" name="username" placeholder="Enter Username" required><br><br>

      <br><label style="font-family: sans-serif"><b>Password</b></label><br><br>
      <input type="password" name="password" placeholder="Enter Password" required><br><br>

      <br><label style="font-family: sans-serif"><b>Position</b></label>
      <input type="radio" name="position" value="editor" checked> Editor
      <input type="radio" name="position" value="writer"> Writer<br><br><br>

      <div class="form-actions">
          <button type="submit" class="signupbtn">SIGN UP</button>
      </div>
    </div>
    </form>
</div>
