<div class="formarea">
  <div id='title'>
    <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CHIEF EDITORS</h1>
    <div class="testy">
    <img shape="circle" width="160px" height="160px" src = "images/login.png">&nbsp;&nbsp;&nbsp;
    <div class="line"></div>&nbsp;&nbsp;&nbsp;
    <p style="display: inline-block">Govind Nayak<br><span style="color: #585858; font-size: 14px;"><br>govind.v.nayak@gmail.com<br>+91 - 8867756347</span></p>&nbsp;&nbsp;&nbsp;

  </div>

  <br><br><br>
  <div class="testy">
    <img shape="circle" width="160px" height="160px" src = "images/login.png">&nbsp;&nbsp;&nbsp;
    <div class="line"></div>&nbsp;&nbsp;&nbsp;
    <p style="display: inline-block">Chethan K P<br><span style="color: #585858; font-size: 14px;"><br>chethan749@gmail.com<br>+91 - 8197578127</span></p>&nbsp;&nbsp;&nbsp;
  </div>

</div>

<style>

img{
border-radius: 50%;
}

#title{
  font-family: sans-serif;
  font-weight: bold;
  color: #585858;
}
.testy{
color: #3366FF;
font-weight: bold;
font-size: 25px;
margin-left: 70px;
}
.line{
height: 150px;
width: 2px;
position: absolute;
display: inline-block;
background-color: grey;
}

</style>
