<div>

  <div class="display-area">

  <div class="article" ng-repeat="x in feed">

    <a href="{{x.img_url}}"><p><img width="130px" height="120px" src="{{x.img_url}}"></p></a>

    <strong style="font-size: 16px; color: #282828	">{{x.headline}}</strong>
    <br>
    <span style="font-size: 10px"class="badge">{{x.date}}</span>

    <p style="text-align: justify">{{x.content}}</p>

    <div class="rating">
      <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
    </div>

  </div>

  </div>
</div>
