<div class="formarea">
			<div id='title'>
				<h1>Please help us with your views</h1>
        <h3>Answer a few simple questions and support us in various surveys</h3>
			</div>
   			<br/>
  			<div id='quiz'></div><br>
    		<button class='loginbtn' id='next'><b>NEXT</b></a></button>
    		<button class='loginbtn' id='prev'><b>PREV</b></a></button>

</div>

<style>
	#title{
	  font-family: sans-serif;
	  font-weight: bold;
	  color: #585858;
	}
ul{
  list-style: none;
	font-family: 'Lato', sans-serif;
}
#quiz{
  color: #404040;
	font-size: 15px;
	font-family: 'Lato', sans-serif;
}
</style>

<script>
(function() {
  var questions = [{
    question: "Are you registered to vote as a Republican, Democrat, Independent or something else?",
    choices: ["Republican", "Democrat", "Independent", "Others"],

  }, {
    question: "Which age group do you belong to?",
    choices: ["18 to 29 years", "30 to 44 years", "45 to 59 years", "60+ years"],

  }, {
    question: "On what scale would you like to rate the effects of DEMONITIZATION?",
    choices: ["Excellent", "Good", "Satisfactory", "Very bad"],
    correctAnswer: 0
  }, {
    question: "Do you think the implementation of GST has been beneficial to the Indian economy?",
    choices: ["Yes", "No", "Don't know"],

  }, {
    question: "Who do you think will become the next prime minister of India?",
    choices: ["Narendra Modi", "Rahul Gandhi", "Nitish Kumar", "Aravind Kejriwal"],

  }];

  var questionCounter = 0; //Tracks question number
  var selections = []; //Array containing user choices
  var quiz = $('#quiz'); //Quiz div object

  // Display initial question
  displayNext();

  // Click handler for the 'next' button
  $('#next').on('click', function (e) {
    e.preventDefault();

    // Suspend click listener during fade animation
    if(quiz.is(':animated')) {
      return false;
    }
    choose();

    // If no user selection, progress is stopped
    if (isNaN(selections[questionCounter])) {
      alert('Please make a selection!');
    } else {
      questionCounter++;
      displayNext();
    }
  });

  // Click handler for the 'prev' button
  $('#prev').on('click', function (e) {
    e.preventDefault();

    if(quiz.is(':animated')) {
      return false;
    }
    choose();
    questionCounter--;
    displayNext();
  });

  // Click handler for the 'Start Over' button
  $('#start').on('click', function (e) {
    e.preventDefault();

    if(quiz.is(':animated')) {
      return false;
    }
    questionCounter = 0;
    selections = [];
    displayNext();
    $('#start').hide();
  });

  // Animates buttons on hover
  $('.button').on('mouseenter', function () {
    $(this).addClass('active');
  });
  $('.button').on('mouseleave', function () {
    $(this).removeClass('active');
  });

  // Creates and returns the div that contains the questions and
  // the answer selections
  function createQuestionElement(index) {
    var qElement = $('<div>', {
      id: 'question'
    });

    var header = $('<h2>Question ' + (index + 1) + ':</h2>');
    qElement.append(header);

    var question = $('<b><p>').append(questions[index].question);
    qElement.append(question);

    var radioButtons = createRadios(index);
    qElement.append(radioButtons);

    return qElement;
  }

  // Creates a list of the answer choices as radio inputs
  function createRadios(index) {
    var radioList = $('<ul>');
    var item;
    var input = '';
    for (var i = 0; i < questions[index].choices.length; i++) {
      item = $('<br><li>');
      input = '<input type="radio" name="answer" value=' + i + ' />';
      input += questions[index].choices[i];
      item.append(input);
      radioList.append(item);
    }
    return radioList;
  }

  // Reads the user selection and pushes the value to an array
  function choose() {
    selections[questionCounter] = +$('input[name="answer"]:checked').val();
		if(selections.length == 5) {  //change here
			var http = new XMLHttpRequest();
			var url = "/polls";
			var params = "answers=" + JSON.stringify(selections);
			http.open("POST", url, true);

			//Send the proper header information along with the request
			http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

			http.onreadystatechange = function() {//Call a function when the state changes.
			    if(http.readyState == 4 && http.status == 200) {
			        alert(http.responseText);
			    }
			}
			http.send(params);
		}
  }

  // Displays next requested element
  function displayNext() {
    quiz.fadeOut(function() {
      $('#question').remove();

      if(questionCounter < questions.length){
        var nextQuestion = createQuestionElement(questionCounter);
        quiz.append(nextQuestion).fadeIn();
        if (!(isNaN(selections[questionCounter]))) {
          $('input[value='+selections[questionCounter]+']').prop('checked', true);
        }

        // Controls display of 'prev' button
        if(questionCounter === 1){
          $('#prev').show();
        } else if(questionCounter === 0){

          $('#prev').hide();
          $('#next').show();
        }
      }else {
        var scoreElem = displayScore();
        quiz.append(scoreElem).fadeIn();
        $('#next').hide();
        $('#prev').hide();
        $('#start').show();
      }
    });
  }

  // Computes score and returns a paragraph element to be displayed
  function displayScore() {
    var score = $('<h1>');

    score.append('Thank you for your answers!');
    return score;
  }
})();
</script>
