
body{
    padding-left: -10px;
    -webkit-font-smoothing: antialiased;
}

header{
  text-align: center;
  width: 100%;
  font: Arial;
  margin-top: -20px;
  box-shadow: 0px 2px 6px #888888;
  height: 75px;
  background: #3366FF;
}
html,body {
  height: 100%;
  font-family: sans-serif;
}
input[type=radio]:checked ~ .check {
  border: 5px solid #0DFF92;
}

input[type=radio]:checked ~ .check::before{
  background: #0DFF92;
}

input[type=radio]:checked ~ label{
  color: #0DFF92;
}

a{
  text-decoration: none;
  color: white;
}
nav {
  position: fixed;
  z-index: 1;
}
nav::after {
  display: block;
  clear: both;
}

aside {
  position: fixed;
  width: 220px;
  height: 100%;
  padding-top: 50px;
  background: #181818;
  left: 0;
  top: 0px;
  text-align: left;
  display: block;
}

aside::before {
  display: block;
  height: 67px;
}
aside a {
  display: block;
  font-weight: bold;
  padding: 15px 20px;
  text-decoration: none;
  font-size: 13px;
  text-align: left;
  color: #818181;

}
aside li{
  display: inline-block;
  position: relative;
}
.toggle-wrap {
  margin-top: -55px;
  padding: 10px;
  position: fixed;
  cursor: pointer;
  float: left;

  /*disable selection*/
  -webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.dotmenu{
  margin-top: -40px;
  float: right;
  margin-left: 1270px;
  cursor: pointer;
}
.dotmenu:hover{

  background-color: darkgrey;

}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

img{
    padding-right: 15px;
    display: inline-block;
    float: left;
}
.display-area{
  margin-top: 35px;
}
.article{
   box-shadow: 1px 1px 2px #888888;
   margin-top: 10px;
   margin-right: 90px;
   font-family: "Arial", sans-serif;
   color: #404040;
   margin-left: 270px;
   font-weight: 500;
   padding-right: 25px;
   letter-spacing: 0.3px;
   display: inline-block;
   font-size: 15px;
}

.mybutton{
  background: #3366FF;
  font-weight: bold;
  border: none;
  width: 200px;
  color: white;
  height: 40px;
  font-size: 15px;
  cursor: pointer;
}

.button2{
  background: #ff4d4d;
  font-weight: bold;
  border: none;
  width: 80px;
  color: white;
  height: 30px;
  font-size: 12px;
  cursor: pointer;
  border-radius: 5px;
}
a.mybutton2{
  padding: 14px 25px;
  text-align: center;
  color: white;
  font-size: 14px;
  margin-top: -50px;
  cursor: pointer;
  margin-left: 450px;
  text-decoration: none;
  position: absolute;
  background-color: #3366FF;
}

.loginbtn, .signupbtn{
  border:  0px solid black;
  width: 80px;
  height: 50px;
  cursor: pointer;
  display: inline-block;
  background-color: #3366FF;
  color: white;

}
.formarea{
  margin-left: 30%;
  padding-top: 5%;
}
.container {
    width: 500px;
    float: center;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 30px;
    color: #303030;
    font-family: sans-serif;
    font-size: 14px;
    letter-spacing: 0.3px;
    font-stretch: expanded;
    background-color: #E8E8E8;
}


input[type=text], input[type=password] {
    width: 90%;
    padding-left: 10px;
    align-content: center;
    height: 40px;
    border-radius: 4px;
    border: none;
    background-color: white;
    font-family: sans-serif;
}
input[type=number], input[type=datetime]{
  border-radius: 4px;
  border: none;
  height: 30px;
  padding-left: 10px;
  font-family: sans-serif;

}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 15px;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}

.modal, .modal2{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.clearfix::after {
    content: "";
    clear: both;
    display: inline;
}
